{% extends 'base.html.twig' %}
{% block menu %}
    {% include 'employe/inc/sidebar2.html.twig' %}
{% endblock %}
 {% block content %}
    <section class="content-header">
        <h1>
            Formations
            <small>Elaboration du plan de Formation</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-edit"></i>Formations</a></li>
            <li class="active">Suivi Statistique</li>
        </ol>
    </section>
{% endblock %}
{% block body %}
<section class="content">
   
          <!-- DONUT CHART -->
	<div class="row">
		
	<div class="col-md-6">
			<div class="box box-primary">
            	<div class="box-header with-border">
					<h3 class="box-title">Les Employés par Situation Matrimoniale</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
            </div>
				<div class="box-body">
					<canvas id="myChart" width="400" height="240"></canvas>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
					<script>
					var ctx = document.getElementById('myChart').getContext('2d');
					var chart = new Chart(ctx, {
						// The type of chart we want to create
						type: 'bar',

						// The data for our dataset
						
						data: {
								
							labels: [
								{% for marie in maries %}
								"{{ marie.situationMatri }}",
								
								{% endfor %}],
							
							datasets: [{
								label: "Employé",
								backgroundColor: ["#3e95cd","#8e5ea2","#e85ea2"],
											
								data: [{% for marie in maries %}	
									{{ marie.nbrmarie }},
									{% endfor %}
									],					
							}]
							
						},
						
						// Configuration options go here
						options: {
							responsive: true,
							animation: {
                animateScale: true,
                animateRotate: true
            },
			legend: {
            display: false,
            
        },
			
						        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },

						}
					});
					</script>		
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="box box-primary">
            	<div class="box-header with-border">
					<h3 class="box-title">Nombres d'Employés par Fonction</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
            </div>
				<div class="box-body">
					<canvas id="newChart" width="400" height="240"></canvas>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
					<script>
					var ctx = document.getElementById('newChart').getContext('2d');
					var chart = new Chart(ctx, {
						// The type of chart we want to create
						type: 'line',

						// The data for our dataset
						
						data: {
								
							labels: [
								{% for fonction in fonctions %}
								"{{ fonction.nomfonction }}",
								
								{% endfor %}],
							
							datasets: [{
								label: "Employe",
								//showLine: false,
								//backgroundColor: ["#fff"],
								
								//borderWidth : 30,
											
								data: [{% for fonction in fonctions %}	
									{{ fonction.nbrfonc}},
									{% endfor %}
									],		
									"fill": false,
									"borderColor": "rgb(0,153,225)",
									"lineTension":  0.1,			
							}]
							
						},
						
						// Configuration options go here
						options: {


								// showLines: false, 	
								scales: {
									yAxes: [{
										ticks: {
											beginAtZero:true
										}
									}]
								},
						}
					});
					</script>		
				</div>
			</div>
		</div>
			<div class="col-md-6">
			<div class="box box-primary">
            	<div class="box-header with-border">
					<h3 class="box-title">Nombres d'Employés par Catégorie</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
            </div>
				<div class="box-body">
					<canvas id="Chart3" width="400" height="240"></canvas>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
					<script>
					var ctx = document.getElementById('Chart3').getContext('2d');
					var chart = new Chart(ctx, {
						// The type of chart we want to create
						type: 'doughnut',

						// The data for our dataset
						
						data: {
								
							labels: [
								{% for etat in etats %}
								"{{ etat.nometat }}",
								
								{% endfor %}],
							
							datasets: [{
								label: "Catégorie Employé",
								backgroundColor: ["#008080","#FF6347","#9ACD32",,"#B0C4DE",],
											
								data: [{% for etat in etats %}	
									{{ etat.nbretat}},
									{% endfor %}
									],					
							}]
							
						},
						
						// Configuration options go here
						options: {
						       animation: {
                animateScale: true,
                animateRotate: true
            }

    

						}
					});
					</script>		
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="box box-success">
            	<div class="box-header with-border">
					<h3 class="box-title">Nombre d'Employé par nationalite</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
            </div>
				<div class="box-body">
					<canvas id="Chart4" width="400" height="240"></canvas>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
					<script>
					var ctx = document.getElementById('Chart4').getContext('2d');
					var chart = new Chart(ctx, {
						// The type of chart we want to create
						type: 'pie',

						// The data for our dataset
						
						data: {
								
							labels: [
								{% for nationalite in nationalites %}
								"{{	nationalite.nomNationalite }}",
								
								{% endfor %}],
							
							datasets: [{
								label: "Employe",
								backgroundColor: ["#B0C4DE","#9ACD32","#008080","#B0C4DE","#FF6347"],
											
								data: [{% for nationalite in nationalites %}	
									{{nationalite.nbrnat}},
									{% endfor %}
									],					
							}]
							
						},
						
						// Configuration options go here
						options: {
							legend: {
            display: true,
            
        },
		 title: {
            display: false,
            text: "Nombre D'Employés par Service",
			fontSize: 16
        },
						        
		animation: {
                animateScale: true,
                animateRotate: true
            }

					
    

						}
					});
					</script>		
				</div>
			</div>
		</div>
			</div>
		


</section>


{% endblock %}
