{% extends 'base.html.twig' %}
{% block menu %}
    {% include 'formation/inc/sidebar.html.twig' %}
{% endblock %}
 {% block content %}
    <section class="content-header">
        <h1>
            Formations
            <small>Elaboration du plan de Formation</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-edit"></i>Formations</a></li>
            <li class="active">Suivie Statistique</li>
        </ol>
    </section>
{% endblock %}
{% block body %}
<section class="content">
   
          <!-- DONUT CHART -->
	<div class="row">
		<div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Types de Formations</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
				<canvas id="Chart5" width="400" height="240"></canvas>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
					<script>
					var ctx = document.getElementById('Chart5').getContext('2d');
					var chart = new Chart(ctx, {
						// The type of chart we want to create
						type: 'doughnut',

						// The data for our dataset
						
						data: {
								
							
								
							datasets: [{
								label: "My First dataset",
								backgroundColor: ["#008080","#AFEEEE"],
											
								data: [{% for formation in formations %}	
									{{ formation.nbrfor }},
									{% endfor %}
									],					
							}],
							labels: [
								{% for formation in formations %}
								
								"{{ formation.nomtypeformation }}",
								
								{% endfor %}]
							
						},
						
						// Configuration options go here
						options: {
							legend: {
            display: true,
            position : 'bottom',
        },
		 title: {
            display: true,
            text: "Nombre De Formations par Type",
			fontSize: 16
        },
						        
		animation: {
                animateScale: true,
                animateRotate: true
            }
							
						}
					});
					</script>		
				 
             
            </div>
            <!-- /.box-body -->
          </div>	
	</div>
	<div class="col-md-6">
			<div class="box box-danger">
            	<div class="box-header with-border">
					<h3 class="box-title">Etats de Formations</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
            </div>
				<div class="box-body">
					<canvas id="myChart" width="400" height="240"></canvas>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
					<script>
					var ctx = document.getElementById('myChart').getContext('2d');
					var chart = new Chart(ctx, {
						// The type of chart we want to create
						type: 'pie',

						// The data for our dataset
						
						data: {
								
							labels: [
								{% for etatformation in etatformations %}
								"{{ etatformation.nometatformation }}",
								
								{% endfor %}],
							
							datasets: [{
								label: "My First dataset",
								backgroundColor: ["#C0C0C0","#FF6347","#708090"],
											
								data: [{% for etatformation in etatformations %}	
									{{ etatformation.nbretat }},
									{% endfor %}
									],					
							}]
							
						},
						
						// Configuration options go here
						options: {
							legend: {
            				display: true,
							position:'bottom'
        },
		 title: {
            display: true,
            text: "Nombre De Formations par Etat",
			fontSize: 16
        },
						        
		animation: {
                animateScale: true,
                animateRotate: true
            }
							
						}
					});
					</script>		
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="box box-success">
            	<div class="box-header with-border">
					<h3 class="box-title">Formations par Lieu</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
            </div>
				<div class="box-body">
					<canvas id="Chart2" width="400" height="240"></canvas>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
					<script>
					var ctx = document.getElementById('Chart2').getContext('2d');
					var chart = new Chart(ctx, {
						// The type of chart we want to create
						type: 'line',

						// The data for our dataset
						
						data: {
								
							labels: [
								{% for formationlieu in formationlieus %}
								"{{ formationlieu.lieuFomation }}",
								
								{% endfor %}],
							
							datasets: [{
								label: "Lieu de Formation",
								//backgroundColor: ["#9ACD32","#FF0000","#e85ea2"],
								//backgroundColor: ["#FF0000","#FF0000","#e85ea2"],		
								data: [{% for formationlieu in formationlieus %}	
									{{ formationlieu.nbrlieu }},
									{% endfor %}
									],	
									"fill": false,
									"borderColor": "rgb(0,153,225)",
									"lineTension":  0.1,				
							}]
							
						},
						
											// Configuration options go here
											options: {
												scales: {
									yAxes: [{
										ticks: {
											beginAtZero:true
										}
									}]
								},
							
											}
										}
										);
										</script>		
				</div>
			</div>
		</div>
			<div class="col-md-6">
			<div class="box box-info">
            	<div class="box-header with-border">
					<h3 class="box-title">Formations par Mois</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
            </div>
				<div class="box-body">
					<canvas id="Chart6" width="400" height="240"></canvas>
					
						<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
					<script>
					var ctx = document.getElementById('Chart6').getContext('2d');
					var chart = new Chart(ctx, {
						// The type of chart we want to create
						type: 'bar',

						// The data for our dataset
					
						data: {
								
							labels: [
								{% for formationdate in formationdates %}
								
								"{{ formationdate.mois }} {{ formationdate.annee }}",
								
								
								{% endfor %}],
							
							datasets: [{
								label: "Formation",
								backgroundColor: ["#4169E1","#4682B4","#87CEEB"],
								//backgroundColor: ["#FF0000","#FF0000","#e85ea2"],		
								data: [{% for formationdate in formationdates %}	
									{{ formationdate.nbrmois }},
									{% endfor %}
									],					
							}]
							
						},
						
						// Configuration options go here
									options: {
										legend: {
						display: false,
						
					},
					title: {
						display: true,
						text: "Nombre De Formation par Mois",
						fontSize: 16
					},
											scales: {
						yAxes: [{
							ticks: {
								beginAtZero:true
							}
						}]
					},
					animation: {
							animateScale: true,
							animateRotate: true
						}
									}
								}
								);
								</script>		
				</div>
			</div>
		</div>


</section>


{% endblock %}
