{% extends 'base.html.twig' %}
{% block menu %}
    {% include 'formationemploye/inc/sidebare.html.twig' %}
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Formations
            <small>Formations & Employes</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-edit"></i>Formations</a></li>
            <li class="active">Formations & Employes</li>
        </ol>
    </section>
{% endblock %}
{% block body %}
    <h1>FormationEmploye</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formationEmploye.id }}</td>
            </tr>
            <tr>
                <th>Datedebutforationmemploye</th>
                <td>{{ formationEmploye.datedebutforationmemploye }}</td>
            </tr>
            <tr>
                <th>Datefinformationemploye</th>
                <td>{{ formationEmploye.datefinformationemploye }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('formationemploye_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('formationemploye_edit', { 'id': formationEmploye.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
